@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arial/ArialMT.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  --main-bg-color: white;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */
.logo-wrapper {
  grid-column: 1 / -1;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  height: 300px;
  margin: 0 auto;
}

.nav-box {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  width: 516px;
  margin: 0;
  padding: 0;
}

.search-box {
  padding-top: 20px;
}

input[type=search]{
  border-style: hidden;
  width: 516px;
  background-color: #FFE17F;
}
.catalog-button {
  padding-top: 50px;
}

.catalog-link{
font-family: "Raleway", sans-serif;
font-size: 18px;
color: black;
text-decoration: none;
text-transform: uppercase;
}

.navigation-list {
  flex-wrap: wrap; 
  width: 516px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 24px 19px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  
}

.page-header {
  background-color: #FFE17F;
}

.img-box {
  width: 560px;
  margin: 0 auto;
}

.img-info-box {
  padding-top: 50px;
  width: 560px;
  margin: 0 auto;
}

.top-seller-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  font-family:'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.top-seller-box b {
  font-family:'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  border-radius: 8px;
}

.photo-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  list-style-type: none;
}

.more-info {
margin: 18px 0;
}

.inner-info{
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  font-family:'Rubik', sans-serif;
  font-size: 16px;
}

.inner-info p{
  font-size: 36px;
}

.categories-title {
  background-color: #FFE17F;
  padding: 10px;
}

.categories-list {
  width: 120px;
  margin: 0px;
  font-family:'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  text-align: left;
  list-style-type: none;
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(6, 1fr);
}

.feauters {
  align-content: center;
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* Style the tab */
.tab {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase; 
  float: left;
  background-color: var(--main-bg-color);
  height: 388px;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  height: 388px;
}

/* Delivery */
.delivery {
  background-color: #F0F0F0;
  display: flex;
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.delivery-about {
  font-style: normal;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  line-height: 20px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
}

.delivery-info {
text-decoration: inherit;
line-height: 30px;
padding: 30px;
padding-left: 220px;
padding-right: 220px;
}

.delivery-icon {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 0;
  padding-left: 0;
  max-width: 190px;
}

.delivery-info-icon {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 30px;
}

/* info */
.info-list {
  margin-left: 140px;
  margin-right: 140px;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  list-style-type: none;
}

.button-feed {
  padding-top: 50px;
}

.info-list h2 {
  font-weight: 800;
font-size: 50px;
}

.delivery-list {
  padding-top: 40px;
  padding-bottom: 40px;
}

.delivery-list li {
  list-style-type:disc;
  color: #FFE17F;
}

.delivery-list li span{
  color: black;
}


/* subscribe */
.subscribe {
  width: max-content;
  background-color: lightgray;
  font-size: 18px;
}

.subscribe h2 {
  font-size: 50px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-top {
  padding-top: 50px;
  margin-left: 140px;
  margin-right: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  list-style-type: none;
}

.subscribe-info {
  padding-top: 50px;
}

.subscribe-button {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}

.subscribe-bot {
  margin-left: 140px;
  margin-right: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  list-style-type: none;
}
/* footer */
.page-footer {
  height: 321px;
  background-color: #444444;
  color: white;
}
.logo-footer{
  display: grid;
  grid-column: 1 / -1;
  padding-top: 40px;
  padding-left: 0px;
}

.footer-list {
  font-family: "Rubik", sans-serif; 
  font-weight: 400;
  display: flex;
  flex-wrap: wrap; 
  width: 1160px;
  margin: 0;
  padding-top: 40px;
  padding-left: 0px;
  justify-content: space-between;
  list-style-type: none;
  font-size: 16px;
  text-align: center;
}

.navigation-link-footer {
  font-family: "Rubik", sans-serif; 
  font-weight: 700;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-phone-number {
  font-family: "Rubik", sans-serif; 
  font-weight: 700;
 
  color: white;
  text-decoration: none;
  text-transform: uppercase; 
  padding-left: 100px;
  padding-right: 0px;
}

/* Breadcrumbs */
.breadcrumbs {
  color: #242424;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

/* Label */
.control-label {
  font-weight: 700;
}

.container {
  margin-left: auto; 
  margin-right: auto; 
  width: 1160px;
}
