@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arial/ArialMT.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  --main-bg-color: white;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */
.logo-wrapper {
  grid-column: 1 / -1;
}

.navigation {
  background-color: #FFE17F;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  width: 1160px;
  margin: 0 auto;
}

.nav-box {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  width: 516px;
  margin: 0;
  padding: 0;

}

.search-box {
  padding-top: 20px;
}

input[type=search] {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  border-style: hidden;
  width: 466px;
  height: 20px;
  background-color: #FFE17F;
}

.catalog-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 50px;
  padding-top: 13px;
}

.catalog-link-list {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  margin-top: 13px;
}

.catalog-button {
  justify-content: center;
  align-items: center;
}

.popover {
  position:absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 1160px;
  padding: 40px 0;
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  color: #242424;
  background-color: #FFE17F;
  min-height: 186px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  display: none;
}

.navigation-item {
  position: relative;
}

.popover-close-button {
  width: 50px;
  height: 50px;
  background-color: #FFE17F;
  background-image: url("../img/minus1.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}

.popover-button {
  width: 50px;
  height: 50px;
  background-color: #FFE17F;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 15px center;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
}

.popover-content {
  height: 100%;
}

.popover-item-list {
  width: 560px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  font-family: "Rubik", sans-serif;
  line-height: 18px;
  font-weight: 400;
}

.popover-item a{
  color: black;
  text-decoration: none;
}

.navigation-list {
  flex-wrap: wrap;
  width: 516px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navigation-link-top {
  font-family: "Rubik", sans-serif;
  display: block;
  padding: 24px 19px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: unset;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  display: block;
  padding: 24px 19px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.search-global:nth-child(1) {
  background-image: url('../img/Search.svg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 40px;
  margin-left: 50px;
}

.nav-sign:nth-child(1) {
  background-image: url('../img/user.png');
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 30px;
  padding-left: 0;
}

.nav-compare:nth-child(1) {
  background-image: url('../img/compare.png');
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 40px;
  padding-left: 20px;
}

.nav-basket:nth-child(1) {
  background-image: url('../img/basket.png');
  background-repeat: no-repeat;
  background-position: left;
  margin-left: 25px;
  padding-left: 20px;
}

.img-box {
  width: 560px;
  margin: 0 auto;
}

.img-info-box {
  padding-top: 50px;
  width: 560px;
  margin: 0 auto;
}

.top-seller-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.top-seller-box b {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  border-radius: 12px;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  margin: 0 4px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  cursor: pointer;
} 

.slider-pagination-button:hover {
  background-color: white;
}

.slider-pagination-button:focus {
  background-color: black;
  outline: none;
}

.slider-pagination-button-current {
  background-color: black;
}


.slider-button {
  width: 20px;
  height: 60px;
  color: #FFFFFF;
  background-color:  white;
  border: none;
  cursor: pointer;
  background-image: url("../img/right-tall-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
}

.slider-button:hover {
  background-color: white;
}

.slider-button:focus {
  outline: 2px solid white;
  background-color: white;
}

.slider-prev {
  transform: rotate(180deg);
}

.photo-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  list-style-type: none;
}

.slider-image {
  display: block;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}


.more-info {
  margin: 18px 0;
}

.inner-info {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.inner-info p {
  font-size: 36px;
}

.categories {
  padding-bottom: 50px;
}

.categories-title {
  background-color: #FFE17F;
  padding: 10px;
}

.categories-list {
  width: 120px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: black;
  text-align: left;
  list-style-type: none;
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(6, 1fr);
}

.feauters {
  align-content: center;
  display: grid;
  grid-template-columns: 200px 1fr;
}

/* Style the tab */
.tab {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  float: left;
  background-color: var(--main-bg-color);
  height: 388px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  height: 388px;
}

/* Delivery */
.delivery {
  background-color: #F0F0F0;
  display: flex;
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.delivery-about {
  font-style: normal;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  line-height: 20px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
}

.delivery-info {
  text-decoration: inherit;
  line-height: 30px;
  padding: 30px;
  padding-left: 220px;
  padding-right: 220px;
}

.delivery-icon {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 0;
  padding-left: 0;
  max-width: 190px;
}

.delivery-info-icon {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 30px;
}

/* info */
.info-list {
  margin-left: 140px;
  margin-right: 140px;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  padding-bottom: 50px;
  list-style-type: none;
}

.contacts-phone {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
  font-style: normal;
}
.button-feed {
  padding-top: 50px;
}

.info-list h2 {
  font-weight: 800;
  font-size: 50px;
}

.delivery-list {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.delivery-list li {
  padding: 10px 0;
  list-style-type: disc;
  color: #FFE17F;
}

.delivery-list li span {
  color: black;
}

.contacts-schedule {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 68px;
}

/* subscribe */
.subscribe {
  background-color: lightgray;
  font-size: 18px;
  height: 421px;
}

.subscribe h2 {
  font-size: 50px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.subscribe-top {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  list-style-type: none;
}

.subscribe-info {
  padding-top: 50px;
}

.subscribe-button .button {
  height: 58px;
  width: 255px;
  border: inset;
  border-color: #444444;
  border-style: solid;
  margin: 0;
  padding: 0;
}

.subscribe-bot {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style-type: none;
}

.subscribe-bot-list {
  height: 55px;
}

.subscribe-bot-email {
  margin: 0;
  padding: 0;
  border-bottom: inset;
  border-color: #444444;
}

.subscribe-form-email .field{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 560px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: lightgray;
}

.subscribe-form-email {
  margin: 0;
  padding: 0;
}

.subscribe-free {
  padding-left: 25px;
  padding-right: 25px;
}

.subscribe-free:nth-child(1) {
    background-image: url('../img/tick-big-1.png');
    background-repeat: no-repeat;
    background-position: left;
}

/* footer */
.page-footer {
  background-color: #444444;
  color: white;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  row-gap: 40px;
}

.logo-footer {
  display: grid;
  grid-column: 1 / -1;
  padding-top: 40px;
  padding-left: 0px;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  gap: 20px;
  align-self: center;
  justify-self: center;
}


.navigation-link-footer {
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}

.footer-social-list {
  padding-bottom: 10px;
}

.navigation-item {
  margin: 0px;
  width: 148px;
}

.footer-phone-number {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  text-align: right;
}

.divider {
  padding-top: 15px;
}

.htmlacademy-link {
  text-align: right;
}

/* Breadcrumbs */
.breadcrumbs {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  gap: 5px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  color: #242424;
  list-style-type: none;
}

.inner-nav-box {
  padding-left: 50px;
}

.inner-nav-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1;
  font-size: 50px;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

.catalog-filter-name {
  padding-left: 60px;
  background-color: #E5E5E5;
}

.sorting-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #EBEBEB;
  text-align: left;
  align-content: center;
  justify-content: center;
  padding-left: 70px;
}

.sorting-type {
  margin: 16px 0;
}

/* Label */
.control-label {
  font-weight: 700;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

/* inner */
.content-box {
  display: grid;
  grid-template-columns: 328px 1fr;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  text-align: justify;
}

.catalog-filter-box {
  width: 328px;
  display: flex;
  background-color: #EBEBEB;
  padding-top: 70px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  align-content: center;
  justify-content: center;
}

.catalog-price {
  display: grid;

}

.product-card {
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 22px;
}


.catalog-filter-group {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: initial;
  width: 200px;
  margin: 0;
  padding-left: 0;
  padding: 0;
  border: 0;
  border-top: inset;
  border-style: solid;
  border-color: black;
}

.catalog-filter-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: initial;
}

.control-label {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: initial;
}

.catalog-filter-title {
  margin-top: 0;
  text-transform: unset;
}

.catalog-filter-list {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: initial;
  list-style-type: none;
  padding-left: 0;
}

.catalog-right-column {
  display: grid;
  grid-gap: 49px;
  margin: 0;
  padding-left: 70px;
}

.pagination-container {
  background-color: #FFFFFF;
  padding-bottom: 70px;
}

.pagination-box {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  padding: 0px;
  height: 70px;
  width: 760px;
  background-color: #EBEBEB;
}

.pagination-link {
  font-family: "Rubik", sans-serif;
  line-height: 16px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  height: 70px;
  padding: 25px 10px;
  background-color: #EBEBEB;
  text-decoration: none;
  text-align: center;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
}

.pagination-link.pagination-page {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #444444;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  border-style: solid;
  height: 55px;
  width: 760px;
}

/* Item */

/* Show more */
.pagination-show-more-box {
  display: flex;
  margin-left: 0;
  padding-left: 0;
  align-items: center;
  justify-content: end;
}

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 40px;
  list-style-type: none;
  margin-bottom: 24px;
  margin-top: 70px;
  justify-content: right;
}

.product-list h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform:initial;
}

.product-list p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform:initial;
  color: #444444;
}


/* Item */
